:root{
	--fuenteCursiva: ;
	--colorPrimario: #c68989;
	--colorSecundario: #9accb6;
	--colorReserva: #cbefdf;
	--colorClaro: #ecf3eb;
	--colorBlanco: #ffffff;
}

@font-face {
	font-family: 'Thank_you';
	src: url('/assets/fonts/Thank_you.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  

*, html {
	font-family: "Alef", sans-serif;
	color: var(--colorPrimario);
	margin: 0 0 !important;
	padding: 0 0 !important;
}

body{
	background-image: url('/images/fondo.png');
	background-repeat: repeat-y; /*  Se repite hacia abajo */
	background-size: contain; /*  Se adapta al ancho de pantalla, altura autom谩tica */
	background-position: center center;
	background-color: #000;
	margin: 0;
	padding: 0;

}


@media (max-width: 768px) {
	body {
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	}
  }


.font-cursiva{
	font-family: 'Thank_you', sans-serif !important;
}

/* Pleca para la fechas  */
.pleca {
	
    border-left: 2px solid var(--colorPrimario); /* L铆nea vertical */
    border-right: 2px solid var(--colorPrimario); /* L铆nea vertical */
}

.hidden {
    display: none;
}

/* Efecto fade */
.fade {
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

.fade.show {
	opacity: 1;
}

#contenido{

}

/* Mostrar contenido con transici贸n */
.hidden-opacity.show {
	opacity: 1;
}

/* Estilos para el bot贸n flotante */
#playButton i{
	position: fixed;  /* Para que el bot贸n se mantenga fijo en la pantalla */
	right: 2%;       /* Espacio desde el borde izquierdo */
	top: 40%;         /* Centrar verticalmente */
	transform: translateY(-50%);  /* Ajustar el bot贸n para que est茅 perfectamente centrado */
	font-size: 3rem;
	color: var(--colorPrimario);
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 50px; /* Hacer el bot贸n m谩s redondeado */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto flotante */
	z-index: 10;  /* Asegura que el bot贸n est茅 por encima de otros elementos */
	padding: 0 0 !important;
	margin: 0 0 !important;
}


/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: var(--colorSecundario);
}

/* Ocultar el modal por defecto */
.hidden {
    display: none;
}


/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	width: 50px;
	height: 80px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--colorPrimario);
}

.simply-word {
	font-weight: 300;
	font-size: 1.1rem;
	color: var(--colorPrimario);
}